
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/common.css">

    <!--<link rel="import" href="/static/polymer/polymer.html">-->
    <!--<link rel="import" href="/static/paper-button/paper-button.html">-->
    <!--<link rel="import" href="/static/iron-icons/iron-icons.html">-->

    <!--<link rel="import" href="/liquid/public/components/liquidComponents/liquid-behavior/liquid-behavior.html">-->
    <!--<link rel="import" href="/liquid/public/components/liquidComponents/liquid-ui/liquid-ui.html">-->
    <!--<link rel="import" href="/liquid/public/components/liquidComponents/liquid-component-migrate/liquid-component-migrate.html">-->

    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<script src="/liquid/public/components/peerjs/peerjs.js"></script>-->
    <!--<script src="/liquid/public/bower_components/es6-promise-polyfill/promise.js"></script>-->
    <!--<script src="/liquid/public/bower_components/y-map/y-map.js"></script>-->

    <!--<script src="/liquid/public/bower_components/yjs/y.js"></script>-->
    <!--<script src="/liquid/public/bower_components/y-array/y-array.js"></script>-->

    <!--<script src="/liquid/public/bower_components/y-memory/y-memory.js"></script>-->
    <!--<script src="/liquid/public/components/y-liquid/y-liquid-new.js"></script>-->
    <style>
        body {padding: 10px; word-wrap: break-word;}
        h1{margin: 10px}
        paper-toolbar.toolbar {
            margin: 1px
            --paper-toolbar-background: #334980;
            --paper-toolbar-title: {
                font-style: italic;
                font-weight: bold;
            };
        }
        #liquidDiv{
            margin:10px;
        }
    </style>
</head>
<body>
<%if (message.length>0) { %>
<div class="alert alert-success"><%= message %></div>
<% } %>
<paper-toolbar class="toolbar">
    <a href="/logout" ><paper-icon-button icon="arrow-back"></paper-icon-button></a>
    <button raised class="btn btn-info" id="qrButton" onclick="showQr()" >showQR</button>
    <div class="title">Welcome <%=user.username%></div>

    <%if (role=="admin") { %>
    <a href="/admin" ><paper-icon-button icon="supervisor-account"  ></paper-icon-button></a>
    <% } %>
</paper-toolbar>
<div id="qr-code-div">
<canvas id="qr-code"></canvas>
    </div>
<div class="row" id="liquidDiv">
    <!--Local Information-->
    <!--<div class="col-sm-6">-->
    <!--<h3><span class="fa fa-user"></span> Local</h3>-->
    <!--<p>-->
    <!--<strong>id</strong>: <%= user._id%><br>-->
    <!--<strong>email</strong>: <%= user.email%><br>-->
    <!--<strong>role</strong>:<%= role%>-->
    <!--</p>-->


    <!--</div>-->
</div>
</div>
</div>

<script src="/static/fetch/fetch.js"></script>
<script src="/corescripts/liquidAPI.js"></script>
<script src="/GroupFramework.js"></script>
<script src="/static/qr-js/qr.js"></script>
<script>

    var div = document.querySelector('#liquidDiv')
//
//    Liquid.create({
//        deploymentServer: {
//            port: 8888,
//            route: '/liquid',
//            host: 'http://localhost',
//        },
//
//        stateServer: {
//            port: 12304,
//            host: 'http://localhost'
//        },
//
//        signalingServer: {
//            port: 12305,
//            host: 'localhost',
//            path: '/signaling'
//        }
//    }, function(){
//        Liquid.loadComponent('playground', function(){
//            Liquid.createComponent('playground', div, {liquidUI: true},function(){
//                console.log('done')
//            })
//        })
//    })
    var u = <%- JSON.stringify(user)%>
    //FWConnector.print(u)
        Liquid.create({
            username: u._id,
            groupID:undefined,
            deploymentServers: [{
//                host: 'http://localhost',
                host: 'http://10.62.162.222',
                port: 8888,
            }],
            stateServer: {
                host: 'http://10.62.162.222',

//                host: 'http://localhost',
                port: 12304
            },
            signalingServer: {
                host: '10.62.162.222',
//                host: 'localhost',
                port: 12305,
                path: '/signaling'
            }
        }).then(function() {
            Liquid.createComponent('migrate', div, {'liquidui': "default"})
        }).then(function(){ if(Liquid.qrCode()==undefined){
            document.getElementById('qrButton').style.display="none"
        }})

    document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementById('qr-code-div').style.display="none"
//        if(Liquid.qrCode()==undefined){
//            document.getElementById('qrButton').style.display="none"
//        }
    });

    function isElementHidden (element) {
        return window.getComputedStyle(element, null).getPropertyValue('display') === 'none';
    }

    var showQr=function(){
        var qrdiv =document.getElementById('qr-code-div')
            if(isElementHidden(qrdiv)){
                console.log("qui ci entro");
                qrdiv.style.display =''
            }else{
                qrdiv.style.display = 'none'
            }

        console.log("we")
        var qrCode=""+Liquid.qrCode();
    console.log(qrCode)
        if(qrCode!=undefined){
            console.log("QRCODE")
            console.log(qrCode)
            qr.canvas({
                canvas: document.getElementById('qr-code'),
                value: qrCode,
                size:10
            });
        }
    }
    //FWConnector.registerUserDeviceID();

</script>
</body>
</html>