doctype html
html
	head
		title.
			#{title}

		meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")

		script(src="/bower_components/observe-js/src/observe.js")
		script(src="/components/socket.io-p2p/bundle.js")

		script(src="/bower_components/yjs/y.js")
		script(src="/components/y-liquid/y-liquid.js")


		style.
			html,body {
				height: 100%;
				margin: 0;
				background-color: white;
				font-family: 'RobotoDraft', sans-serif;
				position: relative;
				-webkit-user-select: none;
			}
			.draggableSpace > * {
				position: absolute;
			}

			#mainToolbar {
				background: #444;
			}

		style(is="custom-style").
			:root {
				--paper-input-container-color: white;
				--paper-input-container-input-color: white;
				--paper-input-container-focus-color: white;
			}

	body(unresolved onload="load()")

		script(src="/bower_components/webcomponentsjs/webcomponents-lite.min.js")
		<link rel="import" href="!{deploymentServer.host}:!{deploymentServer.port}/bower_components/polymer/polymer.html">

		script.
			var deploymentServer = !{JSON.stringify(deploymentServer)}
			var stateServer = !{JSON.stringify(stateServer)}
			var signalingServer = !{JSON.stringify(signalingServer)}

		script(src="/components/webrtc/peer.js")
		script(src="/components/corescripts/liquidAPI.js")
		script(src="/scripts/application.js")